{
  "swagger" : "2.0",
  "info" : {
    "description" : "TODO: Add a description",
    "version" : "1.0",
    "title" : "Mbill API",
    "license" : {
      "name" : "MIT",
      "url" : "http://github.com/gruntjs/grunt/blob/master/LICENSE-MIT"
    }
  },
  "host" : "api.mbill.co",
  "basePath" : "/",
  "schemes" : [ "https" ],
  "consumes" : [ "application/json" ],
  "produces" : [ "application/json" ],
  "paths" : {
    "/api/v1/users" : {
      "post" : {
        "summary" : "Sign-Up via Email and/or Password",
        "description" : "There are two ways to Sign Up new User:\n* via social profiles (see `Authorization` endpoints);\n* via email and password;\n* via phone and password.\n#### Phone Sign Up\nResponse will contain check_digit that will be first in sent message (it is used for better user experience to distinguish when user received multiple OTP codes). Rest of OTP code is token that MUST be used to confirm account activation.\n#### Email Sign Up\nEmail will be verified when used clicks a link that is sent to it or by sending it's token to `Verify Email` service. Before email is verified it's listed in `temporary_email` field as \"Email that awaits verification\".\n#### Other features\nYou can pass optional `card_number` parameter to automatically create page that will receive payment to specified card.",
        "operationId" : "Sign-Up via Email and/or Password",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/SignUp via email and~1or password request"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "schema" : {
              "$ref" : "#/definitions/SignUp via email and~1or password response"
            },
            "examples" : { }
          }
        },
        "x-unitTests" : [ ],
        "x-operation-settings" : {
          "CollectParameters" : false,
          "AllowDynamicQueryParameters" : false,
          "AllowDynamicFormParameters" : false,
          "IsMultiContentStreaming" : false
        }
      }
    },
    "/api/v1/user/verify/email" : {
      "post" : {
        "summary" : "Verify Email",
        "description" : "After registration by email or after changing email by user, code for verification will be sent to email. It must be sent for verification email and account activation.",
        "operationId" : "Verify Email",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/VerifyEmailRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "schema" : {
              "$ref" : "#/definitions/VerifyEmailResponse"
            },
            "examples" : { }
          },
          "404" : {
            "description" : ""
          },
          "422" : {
            "description" : ""
          }
        },
        "x-unitTests" : [ ],
        "x-operation-settings" : {
          "CollectParameters" : false,
          "AllowDynamicQueryParameters" : false,
          "AllowDynamicFormParameters" : false,
          "IsMultiContentStreaming" : false
        }
      }
    },
    "/api/v1/user/verify/phone" : {
      "post" : {
        "summary" : "Verify phone",
        "description" : "After registration by phone or after changing phone number by user, code for verification will be sent to phone. It must be sent for verification phone number and account activation.",
        "operationId" : "Verify phone",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/VerifyPhoneRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "schema" : {
              "$ref" : "#/definitions/VerifyPhoneResponse"
            },
            "examples" : { }
          },
          "404" : {
            "description" : ""
          },
          "422" : {
            "description" : ""
          }
        },
        "x-unitTests" : [ ],
        "x-operation-settings" : {
          "CollectParameters" : false,
          "AllowDynamicQueryParameters" : false,
          "AllowDynamicFormParameters" : false,
          "IsMultiContentStreaming" : false
        }
      }
    },
    "/api/v1/user/verify/email/resend" : {
      "post" : {
        "summary" : "Resend verify email token",
        "description" : "Re-send the link for confirmation email. The user will receive a letter with a code for confirmation of e-mail",
        "operationId" : "Resend verify email token",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/ResendVerifyEmailTokenRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "schema" : {
              "$ref" : "#/definitions/ResendVerifyEmailTokenResponse"
            },
            "examples" : {
              "application/json" : {
                "meta" : {
                  "code" : 200
                },
                "data" : { },
                "dev" : {
                  "token" : "$2y$10$vWmVfDnPPOn4pC5MFEPiP.DkQRtFCqqq0k7V3v8qognX89AarWe",
                  "expired" : 1491217485
                }
              }
            }
          },
          "404" : {
            "description" : ""
          }
        },
        "x-unitTests" : [ {
          "request" : {
            "method" : "POST",
            "uri" : "/api/v1/user/verify/email/resend",
            "headers" : {
              "Content-Type" : "application/json"
            },
            "body" : "{  \"email\": \"test@example.com\"}"
          },
          "expectedResponse" : {
            "x-allowExtraHeaders" : true,
            "x-bodyMatchMode" : "RAW",
            "x-arrayOrderedMatching" : false,
            "x-arrayCheckCount" : false,
            "x-matchResponseSchema" : true,
            "headers" : {
              "Content-Type" : "application/json"
            },
            "body" : "{  \"meta\": {    \"code\": 200  },  \"data\": {},  \"dev\": {    \"token\": \"$2y$10$vWmVfDnPPOn4pC5MFEPiP.DkQRtFCqqq0k7V3v8qognX89AarWe\",    \"expired\": 1491217485  }}"
          },
          "x-testShouldPass" : true,
          "x-testEnabled" : true,
          "x-testName" : "Resend verify email token1",
          "x-testDescription" : "Re-send the link for confirmation email. The user will receive a letter with a code for confirmation of e-mail"
        } ],
        "x-operation-settings" : {
          "CollectParameters" : false,
          "AllowDynamicQueryParameters" : false,
          "AllowDynamicFormParameters" : false,
          "IsMultiContentStreaming" : false
        }
      }
    },
    "/api/v1/user/verify/phone/resend" : {
      "post" : {
        "summary" : "Resend verify phone token",
        "description" : "Resending the code to sms for confirmation of the phone",
        "operationId" : "Resend verify phone token",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/ResendVerifyPhoneTokenRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "schema" : {
              "$ref" : "#/definitions/ResendVerifyPhoneTokenResponse"
            },
            "examples" : {
              "application/json" : {
                "meta" : {
                  "code" : 200
                },
                "data" : { },
                "dev" : {
                  "token" : 774277,
                  "expired" : 1491217485
                }
              }
            }
          },
          "404" : {
            "description" : ""
          }
        },
        "x-unitTests" : [ {
          "request" : {
            "method" : "POST",
            "uri" : "/api/v1/user/verify/phone/resend",
            "headers" : {
              "Content-Type" : "application/json"
            },
            "body" : "{  \"phone\": \"+380631112233\"}"
          },
          "expectedResponse" : {
            "x-allowExtraHeaders" : true,
            "x-bodyMatchMode" : "RAW",
            "x-arrayOrderedMatching" : false,
            "x-arrayCheckCount" : false,
            "x-matchResponseSchema" : true,
            "headers" : {
              "Content-Type" : "application/json"
            },
            "body" : "{  \"meta\": {    \"code\": 200  },  \"data\": {},  \"dev\": {    \"token\": 774277,    \"expired\": 1491217485  }}"
          },
          "x-testShouldPass" : true,
          "x-testEnabled" : true,
          "x-testName" : "Resend verify phone token1",
          "x-testDescription" : "Resending the code to sms for confirmation of the phone"
        } ],
        "x-operation-settings" : {
          "CollectParameters" : false,
          "AllowDynamicQueryParameters" : false,
          "AllowDynamicFormParameters" : false,
          "IsMultiContentStreaming" : false
        }
      }
    },
    "/oauth/base" : {
      "get" : {
        "summary" : "Base",
        "description" : "Getting an authorization token by mail or phone and password.",
        "operationId" : "Base",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "",
            "schema" : {
              "$ref" : "#/definitions/BaseResponse"
            },
            "examples" : {
              "application/json" : {
                "meta" : {
                  "code" : 200
                },
                "data" : {
                  "token" : {
                    "token_type" : "bearer",
                    "access_token" : "b04792ffd43765d0a7f26ffc802c51744190d5c5"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : ""
          }
        },
        "x-unitTests" : [ {
          "request" : {
            "method" : "GET",
            "uri" : "/oauth/base"
          },
          "expectedResponse" : {
            "x-allowExtraHeaders" : true,
            "x-bodyMatchMode" : "RAW",
            "x-arrayOrderedMatching" : false,
            "x-arrayCheckCount" : false,
            "x-matchResponseSchema" : true,
            "headers" : {
              "Content-Type" : "application/json"
            },
            "body" : "{  \"meta\": {    \"code\": 200  },  \"data\": {    \"token\": {      \"token_type\": \"bearer\",      \"access_token\": \"b04792ffd43765d0a7f26ffc802c51744190d5c5\"    }  }}"
          },
          "x-testShouldPass" : true,
          "x-testEnabled" : true,
          "x-testName" : "Base1",
          "x-testDescription" : "Getting an authorization token by mail or phone and password."
        } ],
        "x-operation-settings" : {
          "CollectParameters" : false,
          "AllowDynamicQueryParameters" : false,
          "AllowDynamicFormParameters" : false,
          "IsMultiContentStreaming" : false
        }
      }
    },
    "/oauth/facebook" : {
      "post" : {
        "summary" : "Facebook",
        "description" : "This authorization method will Sign In user by Facebook `access_token` or create account if used was not found among Mbill users.",
        "operationId" : "Facebook",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/FacebookRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "schema" : {
              "$ref" : "#/definitions/FacebookResponse"
            },
            "examples" : {
              "application/json" : {
                "meta" : {
                  "code" : 200
                },
                "data" : {
                  "token" : {
                    "token_type" : "bearer",
                    "access_token" : "b04792ffd43765d0a7f26ffc802c51744190d5c5"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : ""
          },
          "422" : {
            "description" : ""
          }
        },
        "x-unitTests" : [ {
          "request" : {
            "method" : "POST",
            "uri" : "/oauth/facebook",
            "headers" : {
              "Content-Type" : "application/json"
            },
            "body" : "{  \"token\": \"access_token\"}"
          },
          "expectedResponse" : {
            "x-allowExtraHeaders" : true,
            "x-bodyMatchMode" : "RAW",
            "x-arrayOrderedMatching" : false,
            "x-arrayCheckCount" : false,
            "x-matchResponseSchema" : true,
            "headers" : {
              "Content-Type" : "application/json"
            },
            "body" : "{  \"meta\": {    \"code\": 200  },  \"data\": {    \"token\": {      \"token_type\": \"bearer\",      \"access_token\": \"b04792ffd43765d0a7f26ffc802c51744190d5c5\"    }  }}"
          },
          "x-testShouldPass" : true,
          "x-testEnabled" : true,
          "x-testName" : "Facebook1",
          "x-testDescription" : "This authorization method will Sign In user by Facebook `access_token` or create account if used was not found among Mbill users."
        } ],
        "x-operation-settings" : {
          "CollectParameters" : false,
          "AllowDynamicQueryParameters" : false,
          "AllowDynamicFormParameters" : false,
          "IsMultiContentStreaming" : false
        }
      }
    },
    "/oauth/vkontakte" : {
      "post" : {
        "summary" : "Vkontakte",
        "description" : "This authorization method will Sign In user by Vk.com `access_token` or create account if used was not found among Mbill users.",
        "operationId" : "Vkontakte",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/VkontakteRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "schema" : {
              "$ref" : "#/definitions/VkontakteResponse"
            },
            "examples" : {
              "application/json" : {
                "meta" : {
                  "code" : 200
                },
                "data" : {
                  "token" : {
                    "token_type" : "bearer",
                    "access_token" : "b04792ffd43765d0a7f26ffc802c51744190d5c5"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : ""
          },
          "422" : {
            "description" : ""
          }
        },
        "x-unitTests" : [ {
          "request" : {
            "method" : "POST",
            "uri" : "/oauth/vkontakte",
            "headers" : {
              "Content-Type" : "application/json"
            },
            "body" : "{  \"token\": \"access_token\"}"
          },
          "expectedResponse" : {
            "x-allowExtraHeaders" : true,
            "x-bodyMatchMode" : "RAW",
            "x-arrayOrderedMatching" : false,
            "x-arrayCheckCount" : false,
            "x-matchResponseSchema" : true,
            "headers" : {
              "Content-Type" : "application/json"
            },
            "body" : "{  \"meta\": {    \"code\": 200  },  \"data\": {    \"token\": {      \"token_type\": \"bearer\",      \"access_token\": \"b04792ffd43765d0a7f26ffc802c51744190d5c5\"    }  }}"
          },
          "x-testShouldPass" : true,
          "x-testEnabled" : true,
          "x-testName" : "Vkontakte1",
          "x-testDescription" : "This authorization method will Sign In user by Vk.com `access_token` or create account if used was not found among Mbill users."
        } ],
        "x-operation-settings" : {
          "CollectParameters" : false,
          "AllowDynamicQueryParameters" : false,
          "AllowDynamicFormParameters" : false,
          "IsMultiContentStreaming" : false
        }
      }
    },
    "/oauth/google" : {
      "post" : {
        "summary" : "Google+",
        "description" : "This authorization method will Sign In user by G+ `access_token` or create account if used was not found among Mbill users.",
        "operationId" : "Google+",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Google+Request"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "schema" : {
              "$ref" : "#/definitions/Google+Response"
            },
            "examples" : {
              "application/json" : {
                "meta" : {
                  "code" : 200
                },
                "data" : {
                  "token" : {
                    "token_type" : "bearer",
                    "access_token" : "b04792ffd43765d0a7f26ffc802c51744190d5c5"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : ""
          },
          "422" : {
            "description" : ""
          }
        },
        "x-unitTests" : [ {
          "request" : {
            "method" : "POST",
            "uri" : "/oauth/google",
            "headers" : {
              "Content-Type" : "application/json"
            },
            "body" : "{  \"token\": \"access_token\"}"
          },
          "expectedResponse" : {
            "x-allowExtraHeaders" : true,
            "x-bodyMatchMode" : "RAW",
            "x-arrayOrderedMatching" : false,
            "x-arrayCheckCount" : false,
            "x-matchResponseSchema" : true,
            "headers" : {
              "Content-Type" : "application/json"
            },
            "body" : "{  \"meta\": {    \"code\": 200  },  \"data\": {    \"token\": {      \"token_type\": \"bearer\",      \"access_token\": \"b04792ffd43765d0a7f26ffc802c51744190d5c5\"    }  }}"
          },
          "x-testShouldPass" : true,
          "x-testEnabled" : true,
          "x-testName" : "Google+1",
          "x-testDescription" : "This authorization method will Sign In user by G+ `access_token` or create account if used was not found among Mbill users."
        } ],
        "x-operation-settings" : {
          "CollectParameters" : false,
          "AllowDynamicQueryParameters" : false,
          "AllowDynamicFormParameters" : false,
          "IsMultiContentStreaming" : false
        }
      }
    },
    "/api/v1/user" : {
      "get" : {
        "summary" : "Get current User",
        "description" : "Getting current (logged in) user data.",
        "operationId" : "Get current User",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "",
            "schema" : {
              "$ref" : "#/definitions/GetCurrentUserResponse"
            },
            "examples" : { }
          },
          "401" : {
            "description" : ""
          }
        },
        "x-unitTests" : [ ],
        "x-operation-settings" : {
          "CollectParameters" : false,
          "AllowDynamicQueryParameters" : false,
          "AllowDynamicFormParameters" : false,
          "IsMultiContentStreaming" : false
        }
      },
      "put" : {
        "summary" : "Update current User",
        "description" : "",
        "operationId" : "Update current User",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/UpdateCurrentUserRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "schema" : {
              "$ref" : "#/definitions/UpdateCurrentUserResponse"
            },
            "examples" : { }
          },
          "401" : {
            "description" : ""
          },
          "422" : {
            "description" : ""
          }
        },
        "x-unitTests" : [ ],
        "x-operation-settings" : {
          "CollectParameters" : false,
          "AllowDynamicQueryParameters" : false,
          "AllowDynamicFormParameters" : false,
          "IsMultiContentStreaming" : false
        }
      }
    },
    "/api/v1/user/password/reset" : {
      "post" : {
        "summary" : "Send password reset token",
        "description" : "The user will be sent an SMS or a letter with a confirmation code to change the password to the specified phone or email.\n* If this is a phone, then the answer is the check_digit field, in which the check digit is for checking the integrity of the SMS token. The format of the token in sms is 412345, where the first digit is check_digit, the remaining five is the token itself.\n* If the user does not have activated mail and phone, the code or link will be resent to activate the phone or mail\n* If the phone is inactive, then the answer will be an additional check digit check_digit_activation for the activation code",
        "operationId" : "Send password reset token",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/SendPasswordResetTokenRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "schema" : {
              "$ref" : "#/definitions/SendPasswordResetTokenResponse"
            },
            "examples" : {
              "application/json" : {
                "meta" : {
                  "code" : 200
                },
                "data" : {
                  "check_digit" : 7
                },
                "dev" : {
                  "token_email" : {
                    "token" : "$2y$10$vWmVfDnPPOn4pC5MFEPiP.DkQRtFCqqq0k7V3v8qognX89AarWe",
                    "expired" : 1491217485
                  },
                  "token_phone" : {
                    "token" : 774277,
                    "expired" : 1491217485
                  }
                }
              }
            }
          },
          "404" : {
            "description" : ""
          }
        },
        "x-unitTests" : [ {
          "request" : {
            "method" : "POST",
            "uri" : "/api/v1/user/password/reset",
            "headers" : {
              "Content-Type" : "application/json"
            },
            "body" : "{  \"email\": \"test@example.com\",  \"phone\": \"+3809876543321\"}"
          },
          "expectedResponse" : {
            "x-allowExtraHeaders" : true,
            "x-bodyMatchMode" : "RAW",
            "x-arrayOrderedMatching" : false,
            "x-arrayCheckCount" : false,
            "x-matchResponseSchema" : true,
            "headers" : {
              "Content-Type" : "application/json"
            },
            "body" : "{  \"meta\": {    \"code\": 200  },  \"data\": {    \"check_digit\": 7  },  \"dev\": {    \"token_email\": {      \"token\": \"$2y$10$vWmVfDnPPOn4pC5MFEPiP.DkQRtFCqqq0k7V3v8qognX89AarWe\",      \"expired\": 1491217485    },    \"token_phone\": {      \"token\": 774277,      \"expired\": 1491217485    }  }}"
          },
          "x-testShouldPass" : true,
          "x-testEnabled" : true,
          "x-testName" : "Send password reset token1",
          "x-testDescription" : "The user will be sent an SMS or a letter with a confirmation code to change the password to the specified phone or email.\n* If this is a phone, then the answer is the check_digit field, in which the check digit is for checking the integrity of the SMS token. The format of the token in sms is 412345, where the first digit is check_digit, the remaining five is the token itself.\n* If the user does not have activated mail and phone, the code or link will be resent to activate the phone or mail\n* If the phone is inactive, then the answer will be an additional check digit check_digit_activation for the activation code"
        } ],
        "x-operation-settings" : {
          "CollectParameters" : false,
          "AllowDynamicQueryParameters" : false,
          "AllowDynamicFormParameters" : false,
          "IsMultiContentStreaming" : false
        }
      }
    },
    "/api/v1/user/password" : {
      "post" : {
        "summary" : "Reset password",
        "description" : "",
        "operationId" : "Reset password",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/ResetPasswordRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "schema" : {
              "$ref" : "#/definitions/ResetPasswordResponse"
            },
            "examples" : { }
          },
          "404" : {
            "description" : ""
          },
          "422" : {
            "description" : ""
          }
        },
        "x-unitTests" : [ ],
        "x-operation-settings" : {
          "CollectParameters" : false,
          "AllowDynamicQueryParameters" : false,
          "AllowDynamicFormParameters" : false,
          "IsMultiContentStreaming" : false
        }
      }
    },
    "/api/v1/user/profile/{type}" : {
      "post" : {
        "summary" : "Unlink Social Profile",
        "description" : "Send empty object to override previous token and delete it.",
        "operationId" : "Unlink Social Profile",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "type",
          "in" : "path",
          "description" : "",
          "required" : true,
          "type" : "string",
          "enum" : [ "facebook", "google", "vkontakte" ]
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "schema" : {
              "$ref" : "#/definitions/UnlinkSocialProfileResponse"
            },
            "examples" : { }
          },
          "424" : {
            "description" : ""
          }
        },
        "x-unitTests" : [ ],
        "x-operation-settings" : {
          "CollectParameters" : false,
          "AllowDynamicQueryParameters" : false,
          "AllowDynamicFormParameters" : false,
          "IsMultiContentStreaming" : false
        }
      }
    },
    "/api/v1/messages" : {
      "post" : {
        "summary" : "Send message to support",
        "description" : "Initialization messaging via intercom by user",
        "operationId" : "Send message to support",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/SendMessageToSupportRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "schema" : {
              "$ref" : "#/definitions/SendMessageToSupportResponse"
            },
            "examples" : {
              "application/json" : {
                "meta" : {
                  "code" : 200
                },
                "data" : {
                  "type" : "user_message",
                  "id" : "44336186",
                  "created_at\"" : "147308490",
                  "body" : "Hi dudes",
                  "message_type" : "inapp",
                  "x_rate_limit" : "500",
                  "x_rate_remaining" : "499",
                  "x_rate_reset" : "1473084960"
                }
              }
            }
          }
        },
        "x-unitTests" : [ {
          "request" : {
            "method" : "POST",
            "uri" : "/api/v1/messages",
            "headers" : {
              "Content-Type" : "application/json"
            },
            "body" : "{  \"email\": \"test@example.com\",  \"name\": \"Sam\",  \"message\": \"Hi dudes\"}"
          },
          "expectedResponse" : {
            "x-allowExtraHeaders" : true,
            "x-bodyMatchMode" : "RAW",
            "x-arrayOrderedMatching" : false,
            "x-arrayCheckCount" : false,
            "x-matchResponseSchema" : true,
            "headers" : {
              "Content-Type" : "application/json"
            },
            "body" : "{  \"meta\": {    \"code\": 200  },  \"data\": {    \"type\": \"user_message\",    \"id\": \"44336186\",    \"created_at\\\"\": \"147308490\",    \"body\": \"Hi dudes\",    \"message_type\": \"inapp\",    \"x_rate_limit\": \"500\",    \"x_rate_remaining\": \"499\",    \"x_rate_reset\": \"1473084960\"  }}"
          },
          "x-testShouldPass" : true,
          "x-testEnabled" : true,
          "x-testName" : "Send message to support1",
          "x-testDescription" : "Initialization messaging via intercom by user"
        } ],
        "x-operation-settings" : {
          "CollectParameters" : false,
          "AllowDynamicQueryParameters" : false,
          "AllowDynamicFormParameters" : false,
          "IsMultiContentStreaming" : false
        }
      }
    },
    "/api/v1/user/pages/" : {
      "get" : {
        "summary" : "Get current User Pages",
        "description" : "Getting user pages with filters",
        "operationId" : "Get current User Pages",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "starting_after",
          "in" : "query",
          "description" : "Paginate element",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Limit pages into response (if -1 you'll get all pages)",
          "required" : true,
          "type" : "number",
          "format" : "double"
        }, {
          "name" : "is_active",
          "in" : "query",
          "description" : "Filter by active pages",
          "required" : true,
          "type" : "boolean"
        }, {
          "name" : "title",
          "in" : "query",
          "description" : "Filter by page title, looking for entry in the title",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "schema" : {
              "$ref" : "#/definitions/GetCurrentUserPagesResponse"
            },
            "examples" : {
              "application/json" : {
                "meta" : {
                  "code" : 200
                },
                "data" : [ {
                  "id" : "58e2278b84092e68020041aa",
                  "short_id" : "a",
                  "title" : "Payment page",
                  "description" : "Pay me please",
                  "logo" : "http://www.gravatar.com/avatar/982ded8261049c17fb5f11d8ae0d6d38",
                  "amount" : 100,
                  "payments_count" : 0,
                  "is_active" : 1,
                  "is_default" : 1,
                  "updated_at" : "2017",
                  "created_at" : "2017",
                  "limits" : [ {
                    "type" : "count_max",
                    "value" : 5,
                    "current" : 0,
                    "is_exceeded" : false
                  }, {
                    "type" : "expires_at",
                    "value" : 2017,
                    "is_exceeded" : false
                  } ],
                  "card" : {
                    "id" : "58e2278a84092e61700041a7",
                    "number" : "2860"
                  },
                  "user" : {
                    "nickname" : "ivan",
                    "first_name" : "Ivan",
                    "last_name" : "Ivanov",
                    "image" : "http://www.gravatar.com/avatar/982ded8261049c17fb5f11d8ae0d6d38",
                    "is_anonymous" : false
                  }
                } ],
                "paginate" : {
                  "limit" : 20,
                  "starting_after" : "56c31536a60ad644060041af",
                  "ending_before" : "58e5f1dfa60ad6b5330041b3",
                  "count" : 1000
                }
              }
            }
          },
          "401" : {
            "description" : ""
          }
        },
        "x-unitTests" : [ {
          "request" : {
            "method" : "GET",
            "uri" : "/api/v1/user/pages/?starting_after=58e2278a84092e61700041a7&limit=10&is_active=true&title=Test"
          },
          "expectedResponse" : {
            "x-allowExtraHeaders" : true,
            "x-bodyMatchMode" : "RAW",
            "x-arrayOrderedMatching" : false,
            "x-arrayCheckCount" : false,
            "x-matchResponseSchema" : true,
            "headers" : {
              "Content-Type" : "application/json"
            },
            "body" : "{\"meta\":{\"code\":200},\"data\":[{\"id\":\"58e2278b84092e68020041aa\",\"short_id\":\"a\",\"title\":\"Payment page\",\"description\":\"Pay me please\",\"logo\":\"http://www.gravatar.com/avatar/982ded8261049c17fb5f11d8ae0d6d38\",\"amount\":100,\"payments_count\":0,\"is_active\":1,\"is_default\":1,\"updated_at\":\"2017\",\"created_at\":\"2017\",\"limits\":[{\"type\":\"count_max\",\"value\":5,\"current\":0,\"is_exceeded\":false},{\"type\":\"expires_at\",\"value\":2017.0,\"is_exceeded\":false}],\"card\":{\"id\":\"58e2278a84092e61700041a7\",\"number\":\"2860\"},\"user\":{\"nickname\":\"ivan\",\"first_name\":\"Ivan\",\"last_name\":\"Ivanov\",\"image\":\"http://www.gravatar.com/avatar/982ded8261049c17fb5f11d8ae0d6d38\",\"is_anonymous\":false}}],\"paginate\":{\"limit\":20,\"starting_after\":\"56c31536a60ad644060041af\",\"ending_before\":\"58e5f1dfa60ad6b5330041b3\",\"count\":1000}}"
          },
          "x-testShouldPass" : true,
          "x-testEnabled" : true,
          "x-testName" : "Get current User Pages1",
          "x-testDescription" : "Getting user pages with filters"
        } ],
        "x-operation-settings" : {
          "CollectParameters" : false,
          "AllowDynamicQueryParameters" : false,
          "AllowDynamicFormParameters" : false,
          "IsMultiContentStreaming" : false
        }
      }
    },
    "/api/v1/user/cards" : {
      "post" : {
        "summary" : "Add a new Card for current User",
        "description" : "",
        "operationId" : "Add a new Card for current User",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/AddANewCardForCurrentUserRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "schema" : {
              "$ref" : "#/definitions/AddANewCardForCurrentUserResponse"
            },
            "examples" : {
              "application/json" : {
                "meta" : {
                  "code" : 200
                },
                "data" : {
                  "id" : "58e2278a84092e61700041a7",
                  "number" : "5237********1358",
                  "active" : true,
                  "turnover" : 0
                }
              }
            }
          },
          "401" : {
            "description" : ""
          },
          "422" : {
            "description" : ""
          }
        },
        "x-unitTests" : [ {
          "request" : {
            "method" : "POST",
            "uri" : "/api/v1/user/cards",
            "headers" : {
              "Content-Type" : "application/json"
            },
            "body" : "{  \"number\": \"0000111122223333\",  \"active\": true}"
          },
          "expectedResponse" : {
            "x-allowExtraHeaders" : true,
            "x-bodyMatchMode" : "RAW",
            "x-arrayOrderedMatching" : false,
            "x-arrayCheckCount" : false,
            "x-matchResponseSchema" : true,
            "headers" : {
              "Content-Type" : "application/json"
            },
            "body" : "{  \"meta\": {    \"code\": 200  },  \"data\": {    \"id\": \"58e2278a84092e61700041a7\",    \"number\": \"5237********1358\",    \"active\": true,    \"turnover\": 0  }}"
          },
          "x-testShouldPass" : true,
          "x-testEnabled" : true,
          "x-testName" : "Add a new Card for current User1",
          "x-testDescription" : "Testcase for testing endpoint Add a new Card for current User"
        } ],
        "x-operation-settings" : {
          "CollectParameters" : false,
          "AllowDynamicQueryParameters" : false,
          "AllowDynamicFormParameters" : false,
          "IsMultiContentStreaming" : false
        }
      }
    },
    "/api/v1/user/cards/{id}" : {
      "put" : {
        "summary" : "Edit Card Data",
        "description" : "",
        "operationId" : "Edit Card Data",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Card ID",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/EditCardDataRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "schema" : {
              "$ref" : "#/definitions/EditCardDataResponse"
            },
            "examples" : {
              "application/json" : {
                "meta" : {
                  "code" : 200
                },
                "data" : {
                  "id" : "58e2278a84092e61700041a7",
                  "number" : "5237********1358",
                  "active" : true,
                  "turnover" : 0
                }
              }
            }
          },
          "401" : {
            "description" : ""
          },
          "422" : {
            "description" : ""
          }
        },
        "x-unitTests" : [ {
          "request" : {
            "method" : "PUT",
            "uri" : "/api/v1/user/cards/58e2278a84092e61700041a7",
            "headers" : {
              "Content-Type" : "application/json"
            },
            "body" : "{  \"number\": \"0000111122223333\",  \"active\": true}"
          },
          "expectedResponse" : {
            "x-allowExtraHeaders" : true,
            "x-bodyMatchMode" : "RAW",
            "x-arrayOrderedMatching" : false,
            "x-arrayCheckCount" : false,
            "x-matchResponseSchema" : true,
            "headers" : {
              "Content-Type" : "application/json"
            },
            "body" : "{  \"meta\": {    \"code\": 200  },  \"data\": {    \"id\": \"58e2278a84092e61700041a7\",    \"number\": \"5237********1358\",    \"active\": true,    \"turnover\": 0  }}"
          },
          "x-testShouldPass" : true,
          "x-testEnabled" : true,
          "x-testName" : "Edit Card Data1",
          "x-testDescription" : "Testcase for testing endpoint Edit Card Data"
        } ],
        "x-operation-settings" : {
          "CollectParameters" : false,
          "AllowDynamicQueryParameters" : false,
          "AllowDynamicFormParameters" : false,
          "IsMultiContentStreaming" : false
        }
      },
      "delete" : {
        "summary" : "Delete Card",
        "description" : "",
        "operationId" : "Delete Card",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Card ID",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "schema" : {
              "$ref" : "#/definitions/DeleteCardResponse"
            },
            "examples" : {
              "application/json" : {
                "meta" : {
                  "code" : 200
                },
                "data" : { }
              }
            }
          },
          "401" : {
            "description" : ""
          }
        },
        "x-unitTests" : [ {
          "request" : {
            "method" : "DELETE",
            "uri" : "/api/v1/user/cards/58e2278a84092e61700041a7"
          },
          "expectedResponse" : {
            "x-allowExtraHeaders" : true,
            "x-bodyMatchMode" : "RAW",
            "x-arrayOrderedMatching" : false,
            "x-arrayCheckCount" : false,
            "x-matchResponseSchema" : true,
            "headers" : {
              "Content-Type" : "application/json"
            },
            "body" : "{  \"meta\": {    \"code\": 200  },  \"data\": {}}"
          },
          "x-testShouldPass" : true,
          "x-testEnabled" : true,
          "x-testName" : "Delete Card1",
          "x-testDescription" : "Testcase for testing endpoint Delete Card"
        } ],
        "x-operation-settings" : {
          "CollectParameters" : false,
          "AllowDynamicQueryParameters" : false,
          "AllowDynamicFormParameters" : false,
          "IsMultiContentStreaming" : false
        }
      }
    },
    "/api/v1/user/cards/{id}/pages" : {
      "get" : {
        "summary" : "List pages that is using Card",
        "description" : "",
        "operationId" : "List pages that is using Card",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Card ID",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "schema" : {
              "$ref" : "#/definitions/ListPagesThatIsUsingCardResponse"
            },
            "examples" : {
              "application/json" : {
                "meta" : {
                  "code" : 200
                },
                "data" : [ {
                  "id" : "58e2278b84092e68020041aa",
                  "short_id" : "a",
                  "title" : "Payment page",
                  "description" : "Pay me please",
                  "logo" : "http://www.gravatar.com/avatar/982ded8261049c17fb5f11d8ae0d6d38",
                  "amount" : 100,
                  "payments_count" : 0,
                  "is_active" : 1,
                  "is_default" : 1,
                  "updated_at" : "2017",
                  "created_at" : "2017",
                  "limits" : [ {
                    "type" : "count_max",
                    "value" : 5,
                    "current" : 0,
                    "is_exceeded" : false
                  }, {
                    "type" : "expires_at",
                    "value" : 2017,
                    "is_exceeded" : false
                  } ],
                  "card_id" : "58e2278a84092e61700041a7"
                } ]
              }
            }
          },
          "401" : {
            "description" : ""
          }
        },
        "x-unitTests" : [ {
          "request" : {
            "method" : "GET",
            "uri" : "/api/v1/user/cards/58e2278a84092e61700041a7/pages"
          },
          "expectedResponse" : {
            "x-allowExtraHeaders" : true,
            "x-bodyMatchMode" : "RAW",
            "x-arrayOrderedMatching" : false,
            "x-arrayCheckCount" : false,
            "x-matchResponseSchema" : true,
            "headers" : {
              "Content-Type" : "application/json"
            },
            "body" : "{\"meta\":{\"code\":200},\"data\":[{\"id\":\"58e2278b84092e68020041aa\",\"short_id\":\"a\",\"title\":\"Payment page\",\"description\":\"Pay me please\",\"logo\":\"http://www.gravatar.com/avatar/982ded8261049c17fb5f11d8ae0d6d38\",\"amount\":100,\"payments_count\":0,\"is_active\":1,\"is_default\":1,\"updated_at\":\"2017\",\"created_at\":\"2017\",\"limits\":[{\"type\":\"count_max\",\"value\":5,\"current\":0,\"is_exceeded\":false},{\"type\":\"expires_at\",\"value\":2017.0,\"is_exceeded\":false}],\"card_id\":\"58e2278a84092e61700041a7\"}]}"
          },
          "x-testShouldPass" : true,
          "x-testEnabled" : true,
          "x-testName" : "List pages that is using Card1",
          "x-testDescription" : "Testcase for testing endpoint List pages that is using Card"
        } ],
        "x-operation-settings" : {
          "CollectParameters" : false,
          "AllowDynamicQueryParameters" : false,
          "AllowDynamicFormParameters" : false,
          "IsMultiContentStreaming" : false
        }
      }
    },
    "/api/v1/user/pages" : {
      "get" : {
        "summary" : "Get current User Pages",
        "description" : "",
        "operationId" : "Get current User Pages1",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "",
            "schema" : {
              "$ref" : "#/definitions/GetCurrentUserPagesResponse"
            },
            "examples" : {
              "application/json" : {
                "meta" : {
                  "code" : 200
                },
                "data" : [ {
                  "id" : "58e2278b84092e68020041aa",
                  "short_id" : "a",
                  "title" : "Payment page",
                  "description" : "Pay me please",
                  "logo" : "http://www.gravatar.com/avatar/982ded8261049c17fb5f11d8ae0d6d38",
                  "amount" : 100,
                  "payments_count" : 0,
                  "is_active" : 1,
                  "is_default" : 1,
                  "updated_at" : "2017",
                  "created_at" : "2017",
                  "limits" : [ {
                    "type" : "count_max",
                    "value" : 5,
                    "current" : 0,
                    "is_exceeded" : false
                  }, {
                    "type" : "expires_at",
                    "value" : 2017,
                    "is_exceeded" : false
                  } ],
                  "card" : {
                    "id" : "58e2278a84092e61700041a7",
                    "number" : "2860"
                  },
                  "user" : {
                    "nickname" : "ivan",
                    "first_name" : "Ivan",
                    "last_name" : "Ivanov",
                    "image" : "http://www.gravatar.com/avatar/982ded8261049c17fb5f11d8ae0d6d38",
                    "is_anonymous" : false
                  }
                } ],
                "paginate" : {
                  "limit" : 20,
                  "starting_after" : "56c31536a60ad644060041af",
                  "ending_before" : "58e5f1dfa60ad6b5330041b3",
                  "count" : 1000
                }
              }
            }
          },
          "401" : {
            "description" : ""
          }
        },
        "x-unitTests" : [ {
          "request" : {
            "method" : "GET",
            "uri" : "/api/v1/user/pages"
          },
          "expectedResponse" : {
            "x-allowExtraHeaders" : true,
            "x-bodyMatchMode" : "RAW",
            "x-arrayOrderedMatching" : false,
            "x-arrayCheckCount" : false,
            "x-matchResponseSchema" : true,
            "headers" : {
              "Content-Type" : "application/json"
            },
            "body" : "{\"meta\":{\"code\":200},\"data\":[{\"id\":\"58e2278b84092e68020041aa\",\"short_id\":\"a\",\"title\":\"Payment page\",\"description\":\"Pay me please\",\"logo\":\"http://www.gravatar.com/avatar/982ded8261049c17fb5f11d8ae0d6d38\",\"amount\":100,\"payments_count\":0,\"is_active\":1,\"is_default\":1,\"updated_at\":\"2017\",\"created_at\":\"2017\",\"limits\":[{\"type\":\"count_max\",\"value\":5,\"current\":0,\"is_exceeded\":false},{\"type\":\"expires_at\",\"value\":2017.0,\"is_exceeded\":false}],\"card\":{\"id\":\"58e2278a84092e61700041a7\",\"number\":\"2860\"},\"user\":{\"nickname\":\"ivan\",\"first_name\":\"Ivan\",\"last_name\":\"Ivanov\",\"image\":\"http://www.gravatar.com/avatar/982ded8261049c17fb5f11d8ae0d6d38\",\"is_anonymous\":false}}],\"paginate\":{\"limit\":20,\"starting_after\":\"56c31536a60ad644060041af\",\"ending_before\":\"58e5f1dfa60ad6b5330041b3\",\"count\":1000}}"
          },
          "x-testShouldPass" : true,
          "x-testEnabled" : true,
          "x-testName" : "Get current User Pages11",
          "x-testDescription" : "Testcase for testing endpoint Get current User Pages"
        } ],
        "x-operation-settings" : {
          "CollectParameters" : false,
          "AllowDynamicQueryParameters" : false,
          "AllowDynamicFormParameters" : false,
          "IsMultiContentStreaming" : false
        }
      },
      "post" : {
        "summary" : "Create User Page",
        "description" : "",
        "operationId" : "Create User Page",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/CreateUserPageRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "schema" : {
              "$ref" : "#/definitions/CreateUserPageResponse"
            },
            "examples" : {
              "application/json" : {
                "meta" : {
                  "code" : 200
                },
                "data" : {
                  "id" : "58e2278b84092e68020041aa",
                  "short_id" : "a",
                  "title" : "Payment page",
                  "description" : "Pay me please",
                  "logo" : "http://www.gravatar.com/avatar/982ded8261049c17fb5f11d8ae0d6d38",
                  "amount" : 100,
                  "payments_count" : 0,
                  "is_active" : 1,
                  "is_default" : 1,
                  "updated_at" : "2017",
                  "created_at" : "2017",
                  "limits" : [ {
                    "type" : "count_max",
                    "value" : 5,
                    "current" : 0,
                    "is_exceeded" : false
                  }, {
                    "type" : "expires_at",
                    "value" : 2017,
                    "is_exceeded" : false
                  } ],
                  "card" : {
                    "id" : "58e2278a84092e61700041a7",
                    "number" : "2860"
                  },
                  "user" : {
                    "nickname" : "ivan",
                    "first_name" : "Ivan",
                    "last_name" : "Ivanov",
                    "image" : "http://www.gravatar.com/avatar/982ded8261049c17fb5f11d8ae0d6d38",
                    "is_anonymous" : false
                  }
                }
              }
            }
          },
          "401" : {
            "description" : ""
          }
        },
        "x-unitTests" : [ {
          "request" : {
            "method" : "POST",
            "uri" : "/api/v1/user/pages",
            "headers" : {
              "Content-Type" : "application/json"
            },
            "body" : "{  \"card_id\": \"58e2278a84092e61700041a7\",  \"amount\": 1000,  \"title\": \"Death Star\",  \"description\": \"Crowdfunding Death Star\",  \"is_active\": true,  \"is_default\": true,  \"logo\": \"http://gravatar.com/avatar/default\",  \"limits\": {    \"count_max\": 100,    \"expires_at\": \"2016-08-25T13:20:50+0000\"  }}"
          },
          "expectedResponse" : {
            "x-allowExtraHeaders" : true,
            "x-bodyMatchMode" : "RAW",
            "x-arrayOrderedMatching" : false,
            "x-arrayCheckCount" : false,
            "x-matchResponseSchema" : true,
            "headers" : {
              "Content-Type" : "application/json"
            },
            "body" : "{\"meta\":{\"code\":200},\"data\":{\"id\":\"58e2278b84092e68020041aa\",\"short_id\":\"a\",\"title\":\"Payment page\",\"description\":\"Pay me please\",\"logo\":\"http://www.gravatar.com/avatar/982ded8261049c17fb5f11d8ae0d6d38\",\"amount\":100,\"payments_count\":0,\"is_active\":1,\"is_default\":1,\"updated_at\":\"2017\",\"created_at\":\"2017\",\"limits\":[{\"type\":\"count_max\",\"value\":5,\"current\":0,\"is_exceeded\":false},{\"type\":\"expires_at\",\"value\":2017.0,\"is_exceeded\":false}],\"card\":{\"id\":\"58e2278a84092e61700041a7\",\"number\":\"2860\"},\"user\":{\"nickname\":\"ivan\",\"first_name\":\"Ivan\",\"last_name\":\"Ivanov\",\"image\":\"http://www.gravatar.com/avatar/982ded8261049c17fb5f11d8ae0d6d38\",\"is_anonymous\":false}}}"
          },
          "x-testShouldPass" : true,
          "x-testEnabled" : true,
          "x-testName" : "Create User Page1",
          "x-testDescription" : "Testcase for testing endpoint Create User Page"
        } ],
        "x-operation-settings" : {
          "CollectParameters" : false,
          "AllowDynamicQueryParameters" : false,
          "AllowDynamicFormParameters" : false,
          "IsMultiContentStreaming" : false
        }
      }
    },
    "/api/v1/pages" : {
      "get" : {
        "summary" : "Get all Pages",
        "description" : "",
        "operationId" : "Get all Pages",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "",
            "schema" : {
              "$ref" : "#/definitions/GetAllPagesResponse"
            },
            "examples" : {
              "application/json" : {
                "meta" : {
                  "code" : 200
                },
                "data" : [ {
                  "id" : "58e2278b84092e68020041aa",
                  "short_id" : "a",
                  "title" : "Payment page",
                  "description" : "Pay me please",
                  "logo" : "http://www.gravatar.com/avatar/982ded8261049c17fb5f11d8ae0d6d38",
                  "amount" : 100,
                  "payments_count" : 0,
                  "is_active" : 1,
                  "is_default" : 1,
                  "updated_at" : "2017",
                  "created_at" : "2017",
                  "limits" : [ {
                    "type" : "count_max",
                    "value" : 5,
                    "current" : 0,
                    "is_exceeded" : false
                  }, {
                    "type" : "expires_at",
                    "value" : 2017,
                    "is_exceeded" : false
                  } ],
                  "card" : {
                    "id" : "58e2278a84092e61700041a7",
                    "number" : "2860"
                  },
                  "user" : {
                    "nickname" : "ivan",
                    "first_name" : "Ivan",
                    "last_name" : "Ivanov",
                    "image" : "http://www.gravatar.com/avatar/982ded8261049c17fb5f11d8ae0d6d38",
                    "is_anonymous" : false
                  }
                } ],
                "paginate" : {
                  "limit" : 20,
                  "starting_after" : "56c31536a60ad644060041af",
                  "ending_before" : "58e5f1dfa60ad6b5330041b3",
                  "count" : 1000
                }
              }
            }
          }
        },
        "x-unitTests" : [ {
          "request" : {
            "method" : "GET",
            "uri" : "/api/v1/pages"
          },
          "expectedResponse" : {
            "x-allowExtraHeaders" : true,
            "x-bodyMatchMode" : "RAW",
            "x-arrayOrderedMatching" : false,
            "x-arrayCheckCount" : false,
            "x-matchResponseSchema" : true,
            "headers" : {
              "Content-Type" : "application/json"
            },
            "body" : "{\"meta\":{\"code\":200},\"data\":[{\"id\":\"58e2278b84092e68020041aa\",\"short_id\":\"a\",\"title\":\"Payment page\",\"description\":\"Pay me please\",\"logo\":\"http://www.gravatar.com/avatar/982ded8261049c17fb5f11d8ae0d6d38\",\"amount\":100,\"payments_count\":0,\"is_active\":1,\"is_default\":1,\"updated_at\":\"2017\",\"created_at\":\"2017\",\"limits\":[{\"type\":\"count_max\",\"value\":5,\"current\":0,\"is_exceeded\":false},{\"type\":\"expires_at\",\"value\":2017.0,\"is_exceeded\":false}],\"card\":{\"id\":\"58e2278a84092e61700041a7\",\"number\":\"2860\"},\"user\":{\"nickname\":\"ivan\",\"first_name\":\"Ivan\",\"last_name\":\"Ivanov\",\"image\":\"http://www.gravatar.com/avatar/982ded8261049c17fb5f11d8ae0d6d38\",\"is_anonymous\":false}}],\"paginate\":{\"limit\":20,\"starting_after\":\"56c31536a60ad644060041af\",\"ending_before\":\"58e5f1dfa60ad6b5330041b3\",\"count\":1000}}"
          },
          "x-testShouldPass" : true,
          "x-testEnabled" : true,
          "x-testName" : "Get all Pages1",
          "x-testDescription" : "Testcase for testing endpoint Get all Pages"
        } ],
        "x-operation-settings" : {
          "CollectParameters" : false,
          "AllowDynamicQueryParameters" : false,
          "AllowDynamicFormParameters" : false,
          "IsMultiContentStreaming" : false
        }
      },
      "post" : {
        "summary" : "Create Anonymous Page",
        "description" : "Anonymous pages can be created by unauthorized users, they will be short-lived and impossible to edit.",
        "operationId" : "Create Anonymous Page",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/CreateAnonymousPageRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "schema" : {
              "$ref" : "#/definitions/CreateAnonymousPageResponse"
            },
            "examples" : {
              "application/json" : {
                "meta" : {
                  "code" : 200
                },
                "data" : {
                  "id" : "58e2278b84092e68020041aa",
                  "short_id" : "a",
                  "title" : "Payment page",
                  "description" : "Pay me please",
                  "logo" : "http://www.gravatar.com/avatar/982ded8261049c17fb5f11d8ae0d6d38",
                  "amount" : 100,
                  "payments_count" : 0,
                  "is_active" : 1,
                  "is_default" : 1,
                  "updated_at" : "2017",
                  "created_at" : "2017",
                  "limits" : [ {
                    "type" : "count_max",
                    "value" : 5,
                    "current" : 0,
                    "is_exceeded" : false
                  }, {
                    "type" : "expires_at",
                    "value" : 2017,
                    "is_exceeded" : false
                  } ],
                  "card" : {
                    "id" : "58e2278a84092e61700041a7",
                    "number" : "2860"
                  },
                  "user" : {
                    "nickname" : "ivan",
                    "first_name" : "Ivan",
                    "last_name" : "Ivanov",
                    "image" : "http://www.gravatar.com/avatar/982ded8261049c17fb5f11d8ae0d6d38",
                    "is_anonymous" : false
                  }
                }
              }
            }
          }
        },
        "x-unitTests" : [ {
          "request" : {
            "method" : "POST",
            "uri" : "/api/v1/pages",
            "headers" : {
              "Content-Type" : "application/json"
            },
            "body" : "{  \"card_number\": \"4242000011112222\",  \"amount\": 1000,  \"title\": \"Death Star\",  \"description\": \"Crowdfunding Death Star\",  \"logo\": \"http://gravatar.com/avatar/default\",  \"limits\": {    \"count_max\": 100,    \"expires_at\": \"2016-08-25T13:20:50+0000\"  }}"
          },
          "expectedResponse" : {
            "x-allowExtraHeaders" : true,
            "x-bodyMatchMode" : "RAW",
            "x-arrayOrderedMatching" : false,
            "x-arrayCheckCount" : false,
            "x-matchResponseSchema" : true,
            "headers" : {
              "Content-Type" : "application/json"
            },
            "body" : "{\"meta\":{\"code\":200},\"data\":{\"id\":\"58e2278b84092e68020041aa\",\"short_id\":\"a\",\"title\":\"Payment page\",\"description\":\"Pay me please\",\"logo\":\"http://www.gravatar.com/avatar/982ded8261049c17fb5f11d8ae0d6d38\",\"amount\":100,\"payments_count\":0,\"is_active\":1,\"is_default\":1,\"updated_at\":\"2017\",\"created_at\":\"2017\",\"limits\":[{\"type\":\"count_max\",\"value\":5,\"current\":0,\"is_exceeded\":false},{\"type\":\"expires_at\",\"value\":2017.0,\"is_exceeded\":false}],\"card\":{\"id\":\"58e2278a84092e61700041a7\",\"number\":\"2860\"},\"user\":{\"nickname\":\"ivan\",\"first_name\":\"Ivan\",\"last_name\":\"Ivanov\",\"image\":\"http://www.gravatar.com/avatar/982ded8261049c17fb5f11d8ae0d6d38\",\"is_anonymous\":false}}}"
          },
          "x-testShouldPass" : true,
          "x-testEnabled" : true,
          "x-testName" : "Create Anonymous Page1",
          "x-testDescription" : "Anonymous pages can be created by unauthorized users, they will be short-lived and impossible to edit."
        } ],
        "x-operation-settings" : {
          "CollectParameters" : false,
          "AllowDynamicQueryParameters" : false,
          "AllowDynamicFormParameters" : false,
          "IsMultiContentStreaming" : false
        }
      }
    },
    "/api/v1/dtek/pages" : {
      "post" : {
        "summary" : "Create DTEK Page",
        "description" : "Anonymous pages can be created by unauthorized users, they will be short-lived and impossible to edit.\n`api-key` should be used to authorize consumer back-end.",
        "operationId" : "Create DTEK Page",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/CreateDtekPageRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "schema" : {
              "$ref" : "#/definitions/CreateDtekPageResponse"
            },
            "examples" : {
              "application/json" : {
                "meta" : {
                  "code" : 200
                },
                "data" : {
                  "id" : "58e2278b84092e68020041aa",
                  "short_id" : "a",
                  "title" : "Payment page",
                  "description" : "Pay me please",
                  "logo" : "http://www.gravatar.com/avatar/982ded8261049c17fb5f11d8ae0d6d38",
                  "amount" : 100,
                  "payments_count" : 0,
                  "is_active" : 1,
                  "is_default" : 1,
                  "updated_at" : "2017",
                  "created_at" : "2017",
                  "limits" : [ {
                    "type" : "count_max",
                    "value" : 5,
                    "current" : 0,
                    "is_exceeded" : false
                  }, {
                    "type" : "expires_at",
                    "value" : 2017,
                    "is_exceeded" : false
                  } ],
                  "account_number" : "30043223443",
                  "res_id: DTEK_001" : "",
                  "sender_name" : "Іванов Іван Іванович",
                  "sender_email" : "ivanov@mail.com",
                  "sender_phone" : "+380971111111"
                }
              }
            }
          }
        },
        "x-unitTests" : [ {
          "request" : {
            "method" : "POST",
            "uri" : "/api/v1/dtek/pages",
            "headers" : {
              "Content-Type" : "application/json"
            },
            "body" : "{  \"sender\": {    \"account_number\": \"30043223443\",    \"name\": \"Іванов Іван Іванович\",    \"email\": \"ivanov@mail.com\",    \"phone\": \"+380971111111\",    \"address\": {      \"area\": \"Житомирська\",      \"region\": \"Бердичівський\",      \"settlement\": \"Київ\",      \"settlement_type\": \"CITY\",      \"street_type\": \"STREET\",      \"street\": \"Ніжинська\",      \"building\": \"15\",      \"apartment\": \"23\",      \"zip\": \"02090\"    }  },  \"res_id: DTEK_001\": \"\",  \"amount\": 1000,  \"title\": \"Оплата за електроенергію, жовтень 2017\",  \"description\": \"Crowdfunding Death Star\",  \"logo\": \"http://gravatar.com/avatar/default\",  \"limits\": {    \"count_max\": 100,    \"expires_at\": \"2016-08-25T13:20:50+0000\"  }}"
          },
          "expectedResponse" : {
            "x-allowExtraHeaders" : true,
            "x-bodyMatchMode" : "RAW",
            "x-arrayOrderedMatching" : false,
            "x-arrayCheckCount" : false,
            "x-matchResponseSchema" : true,
            "headers" : {
              "Content-Type" : "application/json"
            },
            "body" : "{\"meta\":{\"code\":200},\"data\":{\"id\":\"58e2278b84092e68020041aa\",\"short_id\":\"a\",\"title\":\"Payment page\",\"description\":\"Pay me please\",\"logo\":\"http://www.gravatar.com/avatar/982ded8261049c17fb5f11d8ae0d6d38\",\"amount\":100,\"payments_count\":0,\"is_active\":1,\"is_default\":1,\"updated_at\":\"2017\",\"created_at\":\"2017\",\"limits\":[{\"type\":\"count_max\",\"value\":5,\"current\":0,\"is_exceeded\":false},{\"type\":\"expires_at\",\"value\":2017.0,\"is_exceeded\":false}],\"account_number\":\"30043223443\",\"res_id: DTEK_001\":\"\",\"sender_name\":\"Іванов Іван Іванович\",\"sender_email\":\"ivanov@mail.com\",\"sender_phone\":\"+380971111111\"}}"
          },
          "x-testShouldPass" : true,
          "x-testEnabled" : true,
          "x-testName" : "Create DTEK Page1",
          "x-testDescription" : "Anonymous pages can be created by unauthorized users, they will be short-lived and impossible to edit.\n`api-key` should be used to authorize consumer back-end."
        } ],
        "x-operation-settings" : {
          "CollectParameters" : false,
          "AllowDynamicQueryParameters" : false,
          "AllowDynamicFormParameters" : false,
          "IsMultiContentStreaming" : false
        }
      }
    },
    "/api/v1/user/pages/{id}" : {
      "get" : {
        "summary" : "Get current User Page",
        "description" : "",
        "operationId" : "Get current User Page",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Page ID, MongoID",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "schema" : {
              "$ref" : "#/definitions/GetCurrentUserPageResponse"
            },
            "examples" : {
              "application/json" : {
                "meta" : {
                  "code" : 200
                },
                "data" : {
                  "id" : "58e2278b84092e68020041aa",
                  "short_id" : "a",
                  "title" : "Payment page",
                  "description" : "Pay me please",
                  "logo" : "http://www.gravatar.com/avatar/982ded8261049c17fb5f11d8ae0d6d38",
                  "amount" : 100,
                  "payments_count" : 0,
                  "is_active" : 1,
                  "is_default" : 1,
                  "updated_at" : "2017",
                  "created_at" : "2017",
                  "limits" : [ {
                    "type" : "count_max",
                    "value" : 5,
                    "current" : 0,
                    "is_exceeded" : false
                  }, {
                    "type" : "expires_at",
                    "value" : 2017,
                    "is_exceeded" : false
                  } ],
                  "card" : {
                    "id" : "58e2278a84092e61700041a7",
                    "number" : "2860"
                  },
                  "user" : {
                    "nickname" : "ivan",
                    "first_name" : "Ivan",
                    "last_name" : "Ivanov",
                    "image" : "http://www.gravatar.com/avatar/982ded8261049c17fb5f11d8ae0d6d38",
                    "is_anonymous" : false
                  }
                }
              }
            }
          }
        },
        "x-unitTests" : [ {
          "request" : {
            "method" : "GET",
            "uri" : "/api/v1/user/pages/58e2278a84092e61700041a7"
          },
          "expectedResponse" : {
            "x-allowExtraHeaders" : true,
            "x-bodyMatchMode" : "RAW",
            "x-arrayOrderedMatching" : false,
            "x-arrayCheckCount" : false,
            "x-matchResponseSchema" : true,
            "headers" : {
              "Content-Type" : "application/json"
            },
            "body" : "{\"meta\":{\"code\":200},\"data\":{\"id\":\"58e2278b84092e68020041aa\",\"short_id\":\"a\",\"title\":\"Payment page\",\"description\":\"Pay me please\",\"logo\":\"http://www.gravatar.com/avatar/982ded8261049c17fb5f11d8ae0d6d38\",\"amount\":100,\"payments_count\":0,\"is_active\":1,\"is_default\":1,\"updated_at\":\"2017\",\"created_at\":\"2017\",\"limits\":[{\"type\":\"count_max\",\"value\":5,\"current\":0,\"is_exceeded\":false},{\"type\":\"expires_at\",\"value\":2017.0,\"is_exceeded\":false}],\"card\":{\"id\":\"58e2278a84092e61700041a7\",\"number\":\"2860\"},\"user\":{\"nickname\":\"ivan\",\"first_name\":\"Ivan\",\"last_name\":\"Ivanov\",\"image\":\"http://www.gravatar.com/avatar/982ded8261049c17fb5f11d8ae0d6d38\",\"is_anonymous\":false}}}"
          },
          "x-testShouldPass" : true,
          "x-testEnabled" : true,
          "x-testName" : "Get current User Page1",
          "x-testDescription" : "Testcase for testing endpoint Get current User Page"
        } ],
        "x-operation-settings" : {
          "CollectParameters" : false,
          "AllowDynamicQueryParameters" : false,
          "AllowDynamicFormParameters" : false,
          "IsMultiContentStreaming" : false
        }
      },
      "put" : {
        "summary" : "Edit current User Page",
        "description" : "",
        "operationId" : "Edit current User Page",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Page ID, MongoID",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/EditCurrentUserPageRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "schema" : {
              "$ref" : "#/definitions/EditCurrentUserPageResponse"
            },
            "examples" : {
              "application/json" : {
                "meta" : {
                  "code" : 200
                },
                "data" : {
                  "id" : "58e2278b84092e68020041aa",
                  "short_id" : "a",
                  "title" : "Payment page",
                  "description" : "Pay me please",
                  "logo" : "http://www.gravatar.com/avatar/982ded8261049c17fb5f11d8ae0d6d38",
                  "amount" : 100,
                  "payments_count" : 0,
                  "is_active" : 1,
                  "is_default" : 1,
                  "updated_at" : "2017",
                  "created_at" : "2017",
                  "limits" : [ {
                    "type" : "count_max",
                    "value" : 5,
                    "current" : 0,
                    "is_exceeded" : false
                  }, {
                    "type" : "expires_at",
                    "value" : 2017,
                    "is_exceeded" : false
                  } ],
                  "card" : {
                    "id" : "58e2278a84092e61700041a7",
                    "number" : "2860"
                  },
                  "user" : {
                    "nickname" : "ivan",
                    "first_name" : "Ivan",
                    "last_name" : "Ivanov",
                    "image" : "http://www.gravatar.com/avatar/982ded8261049c17fb5f11d8ae0d6d38",
                    "is_anonymous" : false
                  }
                }
              }
            }
          },
          "401" : {
            "description" : ""
          }
        },
        "x-unitTests" : [ {
          "request" : {
            "method" : "PUT",
            "uri" : "/api/v1/user/pages/58e2278a84092e61700041a7",
            "headers" : {
              "Content-Type" : "application/json"
            },
            "body" : "{  \"card_id\": \"58e2278a84092e61700041a7\",  \"card_number\": \"4242000011112222\",  \"amount\": 1000,  \"title\": \"Death Star\",  \"description\": \"Crowdfunding Death Star\",  \"is_active\": true,  \"is_default\": true,  \"logo\": \"http://gravatar.com/avatar/default\",  \"limits\": {    \"count_max\": 100,    \"expires_at\": \"2016-08-25T13:20:50+0000\"  }}"
          },
          "expectedResponse" : {
            "x-allowExtraHeaders" : true,
            "x-bodyMatchMode" : "RAW",
            "x-arrayOrderedMatching" : false,
            "x-arrayCheckCount" : false,
            "x-matchResponseSchema" : true,
            "headers" : {
              "Content-Type" : "application/json"
            },
            "body" : "{\"meta\":{\"code\":200},\"data\":{\"id\":\"58e2278b84092e68020041aa\",\"short_id\":\"a\",\"title\":\"Payment page\",\"description\":\"Pay me please\",\"logo\":\"http://www.gravatar.com/avatar/982ded8261049c17fb5f11d8ae0d6d38\",\"amount\":100,\"payments_count\":0,\"is_active\":1,\"is_default\":1,\"updated_at\":\"2017\",\"created_at\":\"2017\",\"limits\":[{\"type\":\"count_max\",\"value\":5,\"current\":0,\"is_exceeded\":false},{\"type\":\"expires_at\",\"value\":2017.0,\"is_exceeded\":false}],\"card\":{\"id\":\"58e2278a84092e61700041a7\",\"number\":\"2860\"},\"user\":{\"nickname\":\"ivan\",\"first_name\":\"Ivan\",\"last_name\":\"Ivanov\",\"image\":\"http://www.gravatar.com/avatar/982ded8261049c17fb5f11d8ae0d6d38\",\"is_anonymous\":false}}}"
          },
          "x-testShouldPass" : true,
          "x-testEnabled" : true,
          "x-testName" : "Edit current User Page1",
          "x-testDescription" : "Testcase for testing endpoint Edit current User Page"
        } ],
        "x-operation-settings" : {
          "CollectParameters" : false,
          "AllowDynamicQueryParameters" : false,
          "AllowDynamicFormParameters" : false,
          "IsMultiContentStreaming" : false
        }
      },
      "delete" : {
        "summary" : "Delete current User Page",
        "description" : "",
        "operationId" : "Delete current User Page",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Page ID, MongoID",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "schema" : {
              "$ref" : "#/definitions/DeleteCurrentUserPageResponse"
            },
            "examples" : {
              "application/json" : {
                "meta" : {
                  "code" : 200
                },
                "data" : { }
              }
            }
          },
          "401" : {
            "description" : ""
          }
        },
        "x-unitTests" : [ {
          "request" : {
            "method" : "DELETE",
            "uri" : "/api/v1/user/pages/58e2278a84092e61700041a7"
          },
          "expectedResponse" : {
            "x-allowExtraHeaders" : true,
            "x-bodyMatchMode" : "RAW",
            "x-arrayOrderedMatching" : false,
            "x-arrayCheckCount" : false,
            "x-matchResponseSchema" : true,
            "headers" : {
              "Content-Type" : "application/json"
            },
            "body" : "{  \"meta\": {    \"code\": 200  },  \"data\": {}}"
          },
          "x-testShouldPass" : true,
          "x-testEnabled" : true,
          "x-testName" : "Delete current User Page1",
          "x-testDescription" : "Testcase for testing endpoint Delete current User Page"
        } ],
        "x-operation-settings" : {
          "CollectParameters" : false,
          "AllowDynamicQueryParameters" : false,
          "AllowDynamicFormParameters" : false,
          "IsMultiContentStreaming" : false
        }
      }
    },
    "/api/v1/users/{nickname}/page" : {
      "get" : {
        "summary" : "Get default Page for User",
        "description" : "",
        "operationId" : "Get default Page for User",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "nickname",
          "in" : "path",
          "description" : "User nickname",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "schema" : {
              "$ref" : "#/definitions/GetDefaultPageForUserResponse"
            },
            "examples" : {
              "application/json" : {
                "meta" : {
                  "code" : 200
                },
                "data" : {
                  "id" : "58e2278b84092e68020041aa",
                  "short_id" : "a",
                  "title" : "Payment page",
                  "description" : "Pay me please",
                  "logo" : "http://www.gravatar.com/avatar/982ded8261049c17fb5f11d8ae0d6d38",
                  "amount" : 100,
                  "payments_count" : 0,
                  "is_active" : 1,
                  "is_default" : 1,
                  "updated_at" : "2017",
                  "created_at" : "2017",
                  "limits" : [ {
                    "type" : "count_max",
                    "value" : 5,
                    "current" : 0,
                    "is_exceeded" : false
                  }, {
                    "type" : "expires_at",
                    "value" : 2017,
                    "is_exceeded" : false
                  } ],
                  "card" : {
                    "id" : "58e2278a84092e61700041a7",
                    "number" : "2860"
                  },
                  "user" : {
                    "nickname" : "ivan",
                    "first_name" : "Ivan",
                    "last_name" : "Ivanov",
                    "image" : "http://www.gravatar.com/avatar/982ded8261049c17fb5f11d8ae0d6d38",
                    "is_anonymous" : false
                  }
                }
              }
            }
          }
        },
        "x-unitTests" : [ {
          "request" : {
            "method" : "GET",
            "uri" : "/api/v1/users/palpatine/page"
          },
          "expectedResponse" : {
            "x-allowExtraHeaders" : true,
            "x-bodyMatchMode" : "RAW",
            "x-arrayOrderedMatching" : false,
            "x-arrayCheckCount" : false,
            "x-matchResponseSchema" : true,
            "headers" : {
              "Content-Type" : "application/json"
            },
            "body" : "{\"meta\":{\"code\":200},\"data\":{\"id\":\"58e2278b84092e68020041aa\",\"short_id\":\"a\",\"title\":\"Payment page\",\"description\":\"Pay me please\",\"logo\":\"http://www.gravatar.com/avatar/982ded8261049c17fb5f11d8ae0d6d38\",\"amount\":100,\"payments_count\":0,\"is_active\":1,\"is_default\":1,\"updated_at\":\"2017\",\"created_at\":\"2017\",\"limits\":[{\"type\":\"count_max\",\"value\":5,\"current\":0,\"is_exceeded\":false},{\"type\":\"expires_at\",\"value\":2017.0,\"is_exceeded\":false}],\"card\":{\"id\":\"58e2278a84092e61700041a7\",\"number\":\"2860\"},\"user\":{\"nickname\":\"ivan\",\"first_name\":\"Ivan\",\"last_name\":\"Ivanov\",\"image\":\"http://www.gravatar.com/avatar/982ded8261049c17fb5f11d8ae0d6d38\",\"is_anonymous\":false}}}"
          },
          "x-testShouldPass" : true,
          "x-testEnabled" : true,
          "x-testName" : "Get default Page for User1",
          "x-testDescription" : "Testcase for testing endpoint Get default Page for User"
        } ],
        "x-operation-settings" : {
          "CollectParameters" : false,
          "AllowDynamicQueryParameters" : false,
          "AllowDynamicFormParameters" : false,
          "IsMultiContentStreaming" : false
        }
      }
    },
    "/api/v1/user/pages/{id}/invoice" : {
      "post" : {
        "summary" : "Send Invoice",
        "description" : "Send to specified email invoice and link to Page.",
        "operationId" : "Send Invoice",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Page ID, MongoID",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "schema" : {
              "$ref" : "#/definitions/SendInvoiceResponse"
            },
            "examples" : {
              "application/json" : {
                "meta" : {
                  "code" : 200
                },
                "data" : { }
              }
            }
          },
          "401" : {
            "description" : ""
          }
        },
        "x-unitTests" : [ {
          "request" : {
            "method" : "POST",
            "uri" : "/api/v1/user/pages/58e2278a84092e61700041a7/invoice"
          },
          "expectedResponse" : {
            "x-allowExtraHeaders" : true,
            "x-bodyMatchMode" : "RAW",
            "x-arrayOrderedMatching" : false,
            "x-arrayCheckCount" : false,
            "x-matchResponseSchema" : true,
            "headers" : {
              "Content-Type" : "application/json"
            },
            "body" : "{  \"meta\": {    \"code\": 200  },  \"data\": {}}"
          },
          "x-testShouldPass" : true,
          "x-testEnabled" : true,
          "x-testName" : "Send Invoice1",
          "x-testDescription" : "Send to specified email invoice and link to Page."
        } ],
        "x-operation-settings" : {
          "CollectParameters" : false,
          "AllowDynamicQueryParameters" : false,
          "AllowDynamicFormParameters" : false,
          "IsMultiContentStreaming" : false
        }
      }
    },
    "/api/v1/merchants/count" : {
      "get" : {
        "summary" : "Get Users count",
        "description" : "Returns count of unique and active merchants.",
        "operationId" : "Get Users count",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "",
            "schema" : {
              "$ref" : "#/definitions/GetUsersCountResponse"
            },
            "examples" : {
              "application/json" : {
                "meta" : {
                  "code" : 200
                },
                "data" : {
                  "count" : 100500
                }
              }
            }
          }
        },
        "x-unitTests" : [ {
          "request" : {
            "method" : "GET",
            "uri" : "/api/v1/merchants/count"
          },
          "expectedResponse" : {
            "x-allowExtraHeaders" : true,
            "x-bodyMatchMode" : "RAW",
            "x-arrayOrderedMatching" : false,
            "x-arrayCheckCount" : false,
            "x-matchResponseSchema" : true,
            "headers" : {
              "Content-Type" : "application/json"
            },
            "body" : "{  \"meta\": {    \"code\": 200  },  \"data\": {    \"count\": 100500  }}"
          },
          "x-testShouldPass" : true,
          "x-testEnabled" : true,
          "x-testName" : "Get Users count1",
          "x-testDescription" : "Returns count of unique and active merchants."
        } ],
        "x-operation-settings" : {
          "CollectParameters" : false,
          "AllowDynamicQueryParameters" : false,
          "AllowDynamicFormParameters" : false,
          "IsMultiContentStreaming" : false
        }
      }
    },
    "/api/v1/user/webhooks" : {
      "get" : {
        "summary" : "Get current User Webhooks",
        "description" : "Webhook will be requested by POST with any change in the status of the payment. If there are several hooks, all points will be requested. The maximum number of webhooks is 5.\nThe fields which will be transfered:\nThe client should self-shuffle in the same sequence of fields and make sure that the hashes equals. This ensures that the data has not been changed during the transfer.\nTODO: replace this with JSON or table (preferred).\n+ `hash`: check SHA1 hash from fields in the following sequence: `page_id`, `payment_id`, `user_id`, `amount`, `fee`, `card_sender`, `card_recipient`, `email_recipient`, `external_id`, `id`\n+ `id`: is the id of the webhook. Returned when creating or modifying a Webhook\n+ `status`: the payment status. Possible: processed | Failed\n+ `page_id`: string, page identifier\n+ `payment_id`: a string, a payment ID\n+ `amount`: amount of payment\n+ `fee`: the number, amount of commission\n+ `description`: purpose of payment\n+ `card_recipient`: destination card in the format `000000 ****** 0000`\n+ `card_sender`: the sender's card in the format `000000 ****** 0000`\n+ `email_recipient`: recipient's email\n+ `created_at`: payment creation date\n+ `email_sender`: optional, email from the sender\n+ `external_id`: optional, the identifier that was sent by the client when creating the payment",
        "operationId" : "Get current User Webhooks",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "",
            "schema" : {
              "$ref" : "#/definitions/GetCurrentUserWebhooksResponse"
            },
            "examples" : {
              "application/json" : {
                "meta" : {
                  "code" : 200
                },
                "data" : [ {
                  "id" : "58e22e0b84092e62700041a9",
                  "url" : "http://example.com"
                } ]
              }
            }
          },
          "401" : {
            "description" : ""
          }
        },
        "x-unitTests" : [ {
          "request" : {
            "method" : "GET",
            "uri" : "/api/v1/user/webhooks"
          },
          "expectedResponse" : {
            "x-allowExtraHeaders" : true,
            "x-bodyMatchMode" : "RAW",
            "x-arrayOrderedMatching" : false,
            "x-arrayCheckCount" : false,
            "x-matchResponseSchema" : true,
            "headers" : {
              "Content-Type" : "application/json"
            },
            "body" : "{  \"meta\": {    \"code\": 200  },  \"data\": [    {      \"id\": \"58e22e0b84092e62700041a9\",      \"url\": \"http://example.com\"    }  ]}"
          },
          "x-testShouldPass" : true,
          "x-testEnabled" : true,
          "x-testName" : "Get current User Webhooks1",
          "x-testDescription" : "Webhook will be requested by POST with any change in the status of the payment. If there are several hooks, all points will be requested. The maximum number of webhooks is 5.\nThe fields which will be transfered:\nThe client should self-shuffle in the same sequence of fields and make sure that the hashes equals. This ensures that the data has not been changed during the transfer.\nTODO: replace this with JSON or table (preferred).\n+ `hash`: check SHA1 hash from fields in the following sequence: `page_id`, `payment_id`, `user_id`, `amount`, `fee`, `card_sender`, `card_recipient`, `email_recipient`, `external_id`, `id`\n+ `id`: is the id of the webhook. Returned when creating or modifying a Webhook\n+ `status`: the payment status. Possible: processed | Failed\n+ `page_id`: string, page identifier\n+ `payment_id`: a string, a payment ID\n+ `amount`: amount of payment\n+ `fee`: the number, amount of commission\n+ `description`: purpose of payment\n+ `card_recipient`: destination card in the format `000000 ****** 0000`\n+ `card_sender`: the sender's card in the format `000000 ****** 0000`\n+ `email_recipient`: recipient's email\n+ `created_at`: payment creation date\n+ `email_sender`: optional, email from the sender\n+ `external_id`: optional, the identifier that was sent by the client when creating the payment"
        } ],
        "x-operation-settings" : {
          "CollectParameters" : false,
          "AllowDynamicQueryParameters" : false,
          "AllowDynamicFormParameters" : false,
          "IsMultiContentStreaming" : false
        }
      },
      "post" : {
        "summary" : "Create new Webhook",
        "description" : "Webhook will be requested by POST with any change in the status of the payment. If there are several hooks, all points will be requested. The maximum number of webhooks is 5.\nThe fields which will be transfered:\nThe client should self-shuffle in the same sequence of fields and make sure that the hashes equals. This ensures that the data has not been changed during the transfer.\nTODO: replace this with JSON or table (preferred).\n+ `hash`: check SHA1 hash from fields in the following sequence: `page_id`, `payment_id`, `user_id`, `amount`, `fee`, `card_sender`, `card_recipient`, `email_recipient`, `external_id`, `id`\n+ `id`: is the id of the webhook. Returned when creating or modifying a Webhook\n+ `status`: the payment status. Possible: processed | Failed\n+ `page_id`: string, page identifier\n+ `payment_id`: a string, a payment ID\n+ `amount`: amount of payment\n+ `fee`: the number, amount of commission\n+ `description`: purpose of payment\n+ `card_recipient`: destination card in the format `000000 ****** 0000`\n+ `card_sender`: the sender's card in the format `000000 ****** 0000`\n+ `email_recipient`: recipient's email\n+ `created_at`: payment creation date\n+ `email_sender`: optional, email from the sender\n+ `external_id`: optional, the identifier that was sent by the client when creating the payment",
        "operationId" : "Create new Webhook",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/CreateNewWebhookRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "schema" : {
              "$ref" : "#/definitions/CreateNewWebhookResponse"
            },
            "examples" : {
              "application/json" : {
                "meta" : {
                  "code" : 200
                },
                "data" : {
                  "id" : "58e22e0b84092e62700041a9",
                  "url" : "http://example.com"
                }
              }
            }
          },
          "401" : {
            "description" : ""
          },
          "422" : {
            "description" : ""
          }
        },
        "x-unitTests" : [ {
          "request" : {
            "method" : "POST",
            "uri" : "/api/v1/user/webhooks",
            "headers" : {
              "Content-Type" : "application/json"
            },
            "body" : "{  \"url\": \"http:://example.com/mbill_webhook\"}"
          },
          "expectedResponse" : {
            "x-allowExtraHeaders" : true,
            "x-bodyMatchMode" : "RAW",
            "x-arrayOrderedMatching" : false,
            "x-arrayCheckCount" : false,
            "x-matchResponseSchema" : true,
            "headers" : {
              "Content-Type" : "application/json"
            },
            "body" : "{  \"meta\": {    \"code\": 200  },  \"data\": {    \"id\": \"58e22e0b84092e62700041a9\",    \"url\": \"http://example.com\"  }}"
          },
          "x-testShouldPass" : true,
          "x-testEnabled" : true,
          "x-testName" : "Create new Webhook1",
          "x-testDescription" : "Webhook will be requested by POST with any change in the status of the payment. If there are several hooks, all points will be requested. The maximum number of webhooks is 5.\nThe fields which will be transfered:\nThe client should self-shuffle in the same sequence of fields and make sure that the hashes equals. This ensures that the data has not been changed during the transfer.\nTODO: replace this with JSON or table (preferred).\n+ `hash`: check SHA1 hash from fields in the following sequence: `page_id`, `payment_id`, `user_id`, `amount`, `fee`, `card_sender`, `card_recipient`, `email_recipient`, `external_id`, `id`\n+ `id`: is the id of the webhook. Returned when creating or modifying a Webhook\n+ `status`: the payment status. Possible: processed | Failed\n+ `page_id`: string, page identifier\n+ `payment_id`: a string, a payment ID\n+ `amount`: amount of payment\n+ `fee`: the number, amount of commission\n+ `description`: purpose of payment\n+ `card_recipient`: destination card in the format `000000 ****** 0000`\n+ `card_sender`: the sender's card in the format `000000 ****** 0000`\n+ `email_recipient`: recipient's email\n+ `created_at`: payment creation date\n+ `email_sender`: optional, email from the sender\n+ `external_id`: optional, the identifier that was sent by the client when creating the payment"
        } ],
        "x-operation-settings" : {
          "CollectParameters" : false,
          "AllowDynamicQueryParameters" : false,
          "AllowDynamicFormParameters" : false,
          "IsMultiContentStreaming" : false
        }
      }
    },
    "/api/v1/user/webhooks/{id}" : {
      "put" : {
        "summary" : "Modify Webhook",
        "description" : "Webhook will be requested by POST with any change in the status of the payment. If there are several hooks, all points will be requested. The maximum number of webhooks is 5.\nThe fields which will be transfered:\nThe client should self-shuffle in the same sequence of fields and make sure that the hashes equals. This ensures that the data has not been changed during the transfer.\nTODO: replace this with JSON or table (preferred).\n+ `hash`: check SHA1 hash from fields in the following sequence: `page_id`, `payment_id`, `user_id`, `amount`, `fee`, `card_sender`, `card_recipient`, `email_recipient`, `external_id`, `id`\n+ `id`: is the id of the webhook. Returned when creating or modifying a Webhook\n+ `status`: the payment status. Possible: processed | Failed\n+ `page_id`: string, page identifier\n+ `payment_id`: a string, a payment ID\n+ `amount`: amount of payment\n+ `fee`: the number, amount of commission\n+ `description`: purpose of payment\n+ `card_recipient`: destination card in the format `000000 ****** 0000`\n+ `card_sender`: the sender's card in the format `000000 ****** 0000`\n+ `email_recipient`: recipient's email\n+ `created_at`: payment creation date\n+ `email_sender`: optional, email from the sender\n+ `external_id`: optional, the identifier that was sent by the client when creating the payment",
        "operationId" : "Modify Webhook",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Webhook ID",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/ModifyWebhookRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "schema" : {
              "$ref" : "#/definitions/ModifyWebhookResponse"
            },
            "examples" : {
              "application/json" : {
                "meta" : {
                  "code" : 200
                },
                "data" : {
                  "id" : "58e22e0b84092e62700041a9",
                  "url" : "http://example.com"
                }
              }
            }
          },
          "401" : {
            "description" : ""
          },
          "422" : {
            "description" : ""
          }
        },
        "x-unitTests" : [ {
          "request" : {
            "method" : "PUT",
            "uri" : "/api/v1/user/webhooks/58e2278a84092e61700041a7",
            "headers" : {
              "Content-Type" : "application/json"
            },
            "body" : "{  \"url\": \"http:://example.com/mbill_webhook\"}"
          },
          "expectedResponse" : {
            "x-allowExtraHeaders" : true,
            "x-bodyMatchMode" : "RAW",
            "x-arrayOrderedMatching" : false,
            "x-arrayCheckCount" : false,
            "x-matchResponseSchema" : true,
            "headers" : {
              "Content-Type" : "application/json"
            },
            "body" : "{  \"meta\": {    \"code\": 200  },  \"data\": {    \"id\": \"58e22e0b84092e62700041a9\",    \"url\": \"http://example.com\"  }}"
          },
          "x-testShouldPass" : true,
          "x-testEnabled" : true,
          "x-testName" : "Modify Webhook1",
[...]
